<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Create</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>New Category!</h1>
</body>
</html>