<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Details</title>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
         <%- include('../partials/_category-list',categories) %>          
         <%- include('../partials/_course-list',result) %>          
        </div>
     </div>
  
</body>
</html>