<div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        Categories
        </a>
        <% categories.forEach(category => { %>
            <a href="/blogs/category/<%= category.Id %>" 
                class="list-group-item list-group-item-action <%= selectedCategory == category.Id  ? "active" : "" %>">
                <%= category.Name %></a>
        <% }) %>
    </div>
</div>